*{
    margin-top: 0;
    box-sizing: border-box;
}
.item1 { 
    grid-area: header; 
    height: 50px;
    background: rgb(30, 117, 189);
}
.item2 { 
    grid-area: menu;
    height: 100vh;
    background-color: aliceblue;
}
.item3 { 
    grid-area: main;
    background-color: aliceblue;
}
.item4 { 
    grid-area: footer;
    height: 30px;
    background-color: rgb(223, 230, 236);
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  background-color: rgb(223, 230, 236);
  /*padding: 10px;*/
  width: 90vw;
  margin: auto;
}

.Sup{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Logo{
    flex-grow: 1;
    height: 50px;
    background: rgb(30, 104, 160);
}
.Nave{
    flex-grow: 5;
    height: 50px;
    background: rgb(30, 104, 160);
    text-align: right;
}

.imgLogo{
    text-align: center;
    margin-left: 20%;
}


/* ***** BARRA HORIZONTAL DE NAVEGACION **** */
.VerNav {
    list-style-type: none;
    margin: 0px;
    margin-top: 1px;
    padding: 0px;
    overflow: hidden;
    /*background-color: #336699;*/
  }
  .VerNav > li {
    float: left;
  }
  .VerNav > li a {
    display: block;
    color: white;
    /*text-align: center;*/ 
    padding: 14px 14px;
    text-decoration: none;
  }
  .VerNav > li a:hover:not(.VNactive) {
    background-color: #111;
  }